:root{
    --c1:steelblue;
    --pd:1rem;


}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    ;
    background-color: #141414;
    color:white; 
}
header{ 
 padding: var(--pd);
 text-align: center;
 display: flex;
 flex-flow: row wrap;
 gap: 1rem;
}
h1{ 
    color: var(--c1);
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    margin: 0;
}
/* we are going to create line before and after the h1 by using after and before sudo element . we can add before and after the text some space*/
h1::before,h1::after{
    content: "";
    border-bottom: 1px solid var(--c1);
    flex-grow: 1;

}
.decrotive-element{
    /* flex-basis: 100%; */
    margin: auto;
    font-size:2.5rem ;
    border: 1px solid wheat;
    border-radius: 50%;
    aspect-ratio: 1;
    max-width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(black 48%, white 48%, white 50%, black 50%);
}
img{
    width: 100%;
    height: auto;
    display: block;
}
nav{
    /* flex-basis: 100%; */
display: contents;
}
nav ul { 
    list-style-type: none;
    padding: 0;

margin: 0;
}
nav a { 
    color:white;
    /* if you do not add this line all a will touch each other  */
    display: block;
    padding: 1rem;
    border: 1px solid white;
    text-decoration: none;
}
nav a:hover{ 
    background-color: var(--c1);

}
.menu1, .menu2, .menu3, .menu4{
    /* flex child property */
flex-basis: 100%;
/* flex parent propert */
display: flex;
justify-content: center;
}
.menu1 li{
flex-basis: 30%;
flex-grow: 1;
flex: 1 0 30%;
}


.visually-hidden{
  
        clip: rect(0 0 0 0); 
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap; 
        width: 1px;
      
}